body {
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
    background-image: url("https://cdn.pixabay.com/photo/2017/03/25/17/56/color-2174049_1280.png");
    height:100%;
    width:100%;
    background-repeat:no-repeat;
    background-size: cover;
    
}
h1 {
    
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}
